<!-- <router-outlet></router-outlet> -->
<p>app component</p>
<input [(ngModel)]="moviName" (ngModelChange)="searchMovi($event)" type="text">
<pre *ngIf="error"> {{errorMsg}} </pre>
<pre *ngIf="!error">
  <!-- <pre><code>{{pageNumber | json}}</code></pre> -->
  <button (click)="previousPage()" [disabled]="pageNumber <= 1">Previous</button>
  <button (click)="nextPage()">Next</button>
  <code>{{movies | json}}</code>
  <ul *ngFor="let i of movies?.['Search']">
    <li (click)="selectMovi(i)"> {{i?.Title}} - {{i?.Year}}</li>
  </ul>
<code>{{movieDetails | json}}</code>
</pre>