<!-- <router-outlet></router-outlet> -->
<section>
  <div class="container">
    <div class="flex">
      <div class="movie-panel">
        <input [(ngModel)]="moviName" (ngModelChange)="searchMovi($event)" placeholder="Search movies" type="text" class="search-input">
        <div *ngIf="error"> {{errorMsg}} </div>
        <div *ngIf="!error"> 
          <ul *ngFor="let i of movies?.['Search']">
            <li (click)="selectMovi(i)">
              {{i?.Title}}
              <i *ngIf="i?.['imdbID'] == selectedMobi?.['imdbID']" class="fa fa-star-o" aria-hidden="true"></i>
              <p class="align-end"> {{i?.Year}}</p>
            </li>
          </ul>
          <div *ngIf="movies?.['Search']?.length" class="pagenation">
            <button (click)="previousPage()" [disabled]="pageNumber <= 1"><i class="fa fa-caret-left" aria-hidden="true"></i></button>
            <div>
              <p>Page {{pageNumber}}</p>
            <p>{{movies?.['totalResults']}} results</p>   
            </div>    
            <button (click)="nextPage()" [disabled]="totalPages == pageNumber"><i class="fa fa-caret-right" aria-hidden="true"></i></button>
          </div>
        </div>

      </div>
      <div *ngIf="movieDetails" class="movie-details" [ngClass]="movieDetails ? 'border-left' : 'no-border' ">
        <div>
          <h1>{{movieDetails?.Title}}</h1>
          <p><b>Movie plot -</b> {{movieDetails?.Plot}}</p>
          <p><b>Language :</b> {{movieDetails?.Language}}</p>
          <p><b>Director :</b> {{movieDetails?.Director}}</p>
          <p><b>Actors :</b> {{movieDetails?.Actors}}</p>
          <p><b>Duration :</b>{{movieDetails?.Runtime}}</p>
        </div>
        <div>
            <img [src]="movieDetails?.Poster" [alt]="movieDetails?.Title" srcset="">
        </div>
      </div>
    </div>
  </div>
</section>